* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0,30,166,1) 0%, rgba(0,0,0,1) 100%);
  overflow: hidden;
}

ul li div {
  width: 2000px;
  height: 2000px;
  /* border: 1px solid white; */
  border-radius: 50%;
  position: fixed;
  top: -75%;
  left: -80%;
  animation: rotateFireworkPath 2s forwards 0s;
}

ul li div ul {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(100% - 5px);
  list-style-type: none;
  width: 10px;
  height: 70px;
  border: 1px solid black;
  background: repeating-linear-gradient(-35deg,#a00,#a00 10px,#fff 10px,#fff 20px); /* Bron: https://css-tricks.com/stripes-css */
  animation: launchFireworks 2s forwards 0s;

}

ul li div ul::before { /* Het rode driehoekje boven de vuurpijlen */
  content: '';
  position: absolute;
  top: -20px;
  left: -5px;
  background-color: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid red;
}

ul li div ul::after { /* De goudbruine stok onderaan de vuurpijlen */
  content: '';
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #a38900;
  top: 100%;
  right: 2px;
  border-radius: 0px 0px 5px 5px;
}

@keyframes rotateFireworkPath {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes launchFireworks {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1);
  }
}
